form {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 20px;
}
body {
  background-color: coral;
}
form input {
  border: none;
}
.myCard {
  width: 100%;
  background-color: #fff;
  margin: 20px 0px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}
